// Primary
$red-carnelian: #b11116;
$red-pigment: #ed1c24;
$blue-persian: #005e9e;
$white: #ffffff;
$gray-isabelline: #f2f0f0;
$blue-alice: #eaf7fb;
$black-raisin: #231f20;
$gray-davy: #58595b;
$gray-old-silver: #808285;
$green: #05a660;
$fulvous: #e57a00;
$gray-light: #d1d3d4;
$blue-bolt: #00c0f3;
$button-primary: #ed1c24;
$button-seconday: #f9f9f9;
$elysium-orange: #ea6153;
