
$red-carnelian: rgba(196, 49, 33, 0.75);
$elysium-orange: rgba(234, 97, 83, 1);
$blue-persian: #005e9e;
$white: #ffffff;
$gray-isabelline: #f2f0f0;
$blue-alice: #eaf7fb;
$black-raisin: #231f20;
$gray-davy: #58595b;
$gray-old-silver: #808285;
$green: #05a660;
$fulvous: #e57a00;
$gray-light: #d1d3d4;
$blue-bolt: #00c0f3;
$button-primary: rgba(234, 97, 83, 0.75);
$button-seconday: #f9f9f9;
@mixin card-shadow {
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.25);
}
@mixin vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin vertical-center-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@mixin vertical-center-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

* {
  // color: rgb(45, 44, 44);
  box-sizing: border-box;
}
// ######################## ICON STYLES ##############################
.elc_ui-icon-wrapper {
  margin: 5px;
  @include vertical-center();
}